.grid {
  width: 50%;
  height: 100%;
  margin: 20px auto;
  background-color: #f2f2f2;
  padding: 10px 50px 50px 50px;
  border: 2px solid #cbcbcb;
  border-radius: 15px;
}

.grid h3 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #000;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#score {
  color: black;
  text-align: center;
  font-size: 30px;
}

.grid #question {
  font-size: 30px;
  color: black;
}

.buttons {
  margin-top: 30px;
}

#btn0,
#btn1,
#btn2,
#btn3 {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: #393b3b;
  width: 70%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #393b3b;
  padding: 10px 10px;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
  cursor: pointer;
  background-color: #7f8283;
  border: 1px solid #7f8283;
}

#btn0:focus,
#btn1:focus,
#btn2:focus,
#btn3:focus {
  outline: 0;
}

#progress {
  color: #2b2b2b;
  font-size: 18px;
}
@media screen and (max-width: 1030px) {
  .grid h3 {
    font-size: 24px;
    margin: 3vh 0;
  }
  #question {
    font-size: 20px;
  }
  .grid #question {
    font-size: 20px;
    text-align: center;
  }
  .grid {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  #btn0,
  #btn1,
  #btn2,
  #btn3 {
    font-size: 16px;
  }

  .grid {
    padding: 10px 15px 15px 15px;
  }
}

@media screen and (max-width: 440px) {
  #btn0,
  #btn1,
  #btn2,
  #btn3 span {
    font-size: 16px;
  }

  .grid h3 {
    font-size: 20px;
  }
  .grid {
    margin: 20px 0;
    width: 100%;
  }

  .grid #question {
    font-size: 18px;
  }
}
