* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.container {
  width: 100%;
}

.clothes {
  width: 70%;
  margin: auto;
}

.left {
  width: 15%;
}

.right {
  width: 15%;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 20px;
  font-style: italic;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot,
.dots {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover,
.dots:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 0.7s;
}

.tackice {
  margin-bottom: 20px;
}

.slideshow-container {
  margin-top: 20px;
}

ul.list-group {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul.list-group li {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul.list-group .badge {
  background-color: black;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px 10px;
  text-align: center;
  margin-left: 5px;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
