#container {
  box-sizing: initial;
  max-width: 940px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (max-width: 500px) {
  .container {
    padding: 8px;
  }
}

img {
  image-rendering: crisp-edges;
  max-width: 90%;
  margin: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
  font-family: arial;
  border: 1px solid gray;
}

.brand {
  color: grey;
  padding: 5px;
  float: left;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  margin-top: 20px;
  border: none;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.store {
  display: grid;
}
.motto {
  margin: 35px;
  font-size: 50px;
  font-weight: 900;
}
.brands {
  margin: 0 40px;
  text-align: center;
}

.brands ul li {
  display: inline;
}

li img {
  margin: 0 15px;
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 600px) {
  .brands img {
    width: 50px;
    height: 50px;
  }
  .motto {
    font-size: 2rem;
  }
}
